* {
  box-sizing: border-box;
}

.frame {
  display: flex;
  align-items: center;
  box-shadow: 3px 5px 6px 0px #9e8af633;
  width: 387px;
  height: 715px;

  .rectangle3 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    border-radius: 0px 34px 34px 0px;
    background: #ffffff;
    padding: 28px 16px 36px 21px;

    .rectangle4 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      border-radius: 35px;
      box-shadow: 0px 2px 9px 0px #8e82c14a;
      background: #f5f8ff;
      padding: 12px 42px 6px 103px;
      min-width: 350px;

      .plusBubble1 {
        margin-top: 5px;
        width: 22px;
        height: 21px;
        overflow: hidden;
      }

      .text {
        width: 171px;
        height: 41px;
        letter-spacing: 0;
        color: #232c62;
        font-family: "Source Han Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 700;
      }
    }

    .text2 {
      margin: 32px 0px 0px 7px;
      width: 46px;
      height: 20px;
      letter-spacing: 0;
      color: #aeb2b7;
      font-family: "Source Han Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 15px;
      font-weight: 500;
    }

    .text3 {
      margin: 21px 0px 0px 7px;
      line-height: 24px;
      letter-spacing: 0;
      color: #232c62;
      font-family: "Source Han Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 500;
    }

    .text4 {
      margin: 23px 0px 0px 7px;
      line-height: 24px;
      letter-spacing: 0;
      color: #232c62;
      font-family: "Source Han Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 500;
    }

    .text5 {
      margin: 31px 0px 0px 7px;
      width: 46px;
      height: 20px;
      letter-spacing: 0;
      color: #aeb2b7;
      font-family: "Source Han Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 15px;
      font-weight: 500;
    }

    .text6 {
      margin: 31px 0px 0px 7px;
      line-height: 24px;
      letter-spacing: 0;
      color: #232c62;
      font-family: "Source Han Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 500;
    }

    .text7 {
      margin: 24px 0px 0px 7px;
      line-height: 24px;
      letter-spacing: 0;
      color: #232c62;
      font-family: "Source Han Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 500;
    }

    .text8 {
      margin: 26px 0px 0px 7px;
      line-height: 24px;
      letter-spacing: 0;
      color: #232c62;
      font-family: "Source Han Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 500;
    }

    .text9 {
      margin: 25px 0px 0px 7px;
      line-height: 24px;
      letter-spacing: 0;
      color: #232c62;
      font-family: "Source Han Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 500;
    }

    .text10 {
      margin: 26px 0px 0px 7px;
      width: 61px;
      height: 20px;
      letter-spacing: 0;
      color: #aeb2b7;
      font-family: "Source Han Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 15px;
      font-weight: 500;
    }

    .text11 {
      margin: 30px 0px 0px 7px;
      background: linear-gradient(180.22deg, #232c62 1.5%, #475ac800 98.5%);
      background-clip: text;
      line-height: 24px;
      letter-spacing: 0;
      color: transparent;
      font-family: "Source Han Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 500;
      -webkit-background-clip: text;
    }
  }
}
